# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
virtualenv
apache-airflow-providers-postgres
astronomer-cosmos
apache-airflow
dbt-core==1.10.13
dbt-postgres==1.9.1
logging
requests
pandas

